{% extends 'chemapp/base.html' %}

{% block title_block %}
    About
{% endblock %}


{% block body_block %}

<div class="container">
{% if boldmessage %}
<h2> {{ boldmessage }} </h2>
  <p>This project aims to develop a system for the School of Chemistry at the University of Glasgow that aids with the calculation of assessment and course grades.
Currently, the school uses huge excel files, with each lecturer having a different one, to accomplish these calculations. These files are very complicated, time-consuming, and cause unnecessary stress to the staff.
The system will try to centralize and automate the process, where possible, requiring very little input from the system users.</p>
<p>
  This WebApp was developed by Team CS35

</p>
<div clsass="row">
  <div class="col-5 justify-content-md-start">
    <h4>Team Members:</h4>
      <ul class="list-group">
        <li class="list-group-item list-group-item-info">Fraser Paterson 2315720p@student.gla.ac.uk</li>
        <li class="list-group-item list-group-item-primary">Sonali Bhaskar 2386675B@student.gla.ac.uk</li>
        <li class="list-group-item list-group-item-warning">Andrew Yao 2389728Y@student.gla.ac.uk</li>
        <li class="list-group-item list-group-item-secondary">Chuyu Huang 2431017H@student.gla.ac.uk</li>
        <li class="list-group-item list-group-item-danger">George Iniatis 2329642I@student.gla.ac.uk</li>

      </ul>
   </div>
  </div>
{% endif %}
</div>

{% endblock %}
