{% extends 'chemapp/base.html' %}
{% load static %}

{% block js_block %}
<script src="{% static 'js/chemapp-courseInputMask.js' %}"></script>
{% endblock %}

{% block title_block %}
Add a Course
{% endblock %}

{% block body_block %}
<div class="container mb-5 ">
  <h2 class="mb-4"> Add a Course </h2>

  <form id="add_course_form" method="post" action="{% url 'chemapp:add_course' %}" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="row ">
      {% for field in course_form %}

      {% if field.label == 'Code' %}
      <div class="col-4 mb-4">
        {% elif field.label == 'Degree' %}
        <div class="col-4">
          {% elif field.label == 'Description'  %}
          <div class="col-8 mb-2">
            {% elif field.label == 'Comments' %}
            <div class="col-8">
              {% elif field.label == 'Color' %}
              <div class="col-12">
                {% else %}
                <div class="col-12 mb-4">
                  {% endif %}



                  {% if field.label == 'Color' %}
                  <label for="exampleColorInput" class="form-label mt-2">Color picker</label>

                  {{ field }}

                  {% else %}




                  <div class="form-floating">
                    {{ field }}
                    <label for="floating{{ field.label }}">{{ field.label }}</label>
                  </div>
                  {% endif %}

                  <!-- <p  class="form-label">{{ field.label }}</p>

                  {{ field }} -->

                  <div class=" text-start">
                    <div id="" class=" ps-2 form-text">{{ field.help_text }}</div>
                  </div>



                  {% for error in field.errors %}
                  <div class="text-danger">
                    <strong>*{{ error|escape }}</strong>
                  </div>
                  {% endfor %}
                </div>


                {% endfor %}


                {% for error in form.non_field_errors %}
                <div class="">
                  <strong>*{{ error|escape }}</strong>
                </div>
                {% endfor %}


              </div>


              <button type="submit" class="btn btn-primary mt-5">Save</button>
            </form>
          </div>

          {% endblock %}
