{% extends 'chemapp/base.html' %}

{% block title_block %}
    Add a student 
{% endblock %}

{% block body_block %}
<div>
        {% if courseAdded %}
        <b> You have successfully added a student! </b>
    {% else %}
        <h2> Add a Student </h2>
        <form id="add_student_form" method="post" action="{% url 'chemapp:add_student' %}" enctype="multipart/form-data">
        {% csrf_token %}
        <p>
        	<label> Enter the Student ID </label>   
            {{ student_form.studentID.errors }}
            <input id="studentID" name="studentID" type="number" placeholder="Student ID" value="{{student_form.studentID.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.studentID.help_text }}
        </p>
     	<p>
     		<label>Enter the First Name</label>
            {{ student_form.firstName.errors }}
            <input id="firstName" name="firstName" type="text" placeholder="First Name" value="{{student_form.firstName.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.firstName.help_text }}
        </p>
        <p>
        	<label>Enter the Last Name</label>
            {{ student_form.lastName.errors }}
            <input id="lastName" name="lastName" type="text" placeholder="Last Name" value="{{student_form.lastName.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.lastName.help_text }}
        </p>
        <p>
        	<label>Enter the Academic Plan</label>
            {{ student_form.academicPlan.errors }}
            <input id="academicPlan" name="academicPlan" type="text" placeholder="Academic Plan " value="{{student_form.academicPlan.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.academicPlan.help_text }}
        </p>
        <p>
        	<label>Enter the Current Year</label>
            {{ student_form.currentYear.errors }}
            <input id="currentYear" name="currentYear" min=1 max=5 type="number" placeholder="Current Year" value="{{student_form.currentYear.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.studentID.help_text }}
        </p>
        <p>
        	<label>Enter the Graduation Date</label>
            {{ student_form.graduationDate.errors }}
            <input id="graduationDate" name="graduationDate" type="date" placeholder="Graduation Date " value="{{student_form.graduationDate.value|default_if_none:""}}" style="width:300px" required>
            * {{ student_form.graduationDate.help_text }}
        </p>
        <button type="submit">Submit</button>
        </form>
        </div>
    {% endif %}
</div>

{% endblock %}