{% extends 'chemapp/base.html' %}
{% load static %}

{% block title_block %}
    Add Grades
{% endblock %}

{% block body_block %}
<div class="container mb-5 ">
    <h2> Add Grades</h2>
    
    <h2> {{ assessment.assessmentName }} </h2>
        
    <form id="add_grade_form" method="post" action="{% url 'chemapp:add_grades' student_id=student_id course_name_slug=course_name_slug assessment_name_slug=assessment_name_slug  %}" enctype="multipart/form-data">
        {% csrf_token %}
        
        <div>
            {{ assessment_grade_form.as_p }}
        </div>
        <br>
        
        {{ component_grade_formset.management_form }}
        {% for component_grade_form in component_grade_formset %}
            <div class="grade-formset">
                {{ component_grade_form.as_p }}
                <br>
            </div>
        {% endfor %}
        <br>
        
        <button type="submit">Save</button>
        </form>
</div>
{% endblock %}
