{% extends 'chemapp/base.html' %}

{% block links %}
  <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.css">
{% endblock %}

{% block title_block %}
    Add student
{% endblock %}

{% block body_block %}
{{ student_form.media }}
<div class="container mt-5 ">
	<div>
        <h2 class="mb-4"> Add a Student </h2>

        <form id="add_student_form" method="post" action="{% url 'chemapp:add_student' %}" enctype="multipart/form-data">

        {% csrf_token %}


      <div class="row ">
        {% for field in student_form %}

        {% if field.label == 'First Name' %}
        <div class="col-4 mb-4">
          {% elif field.label == 'Last Name' %}
          <div class="col-4">
              {% elif field.label == 'Gap Year' %}
                <div class="col-8 my-3 ">
                  {% elif field.label == 'StudentID' %}
                    <div class="col-4 mb-4">
              {% elif field.label == 'Comments' %}
              <div class="col-8">

                  {% else %}
                  <div class="col-12 mb-4">
                    {% endif %}



                    {% if field.label == 'Gap Year' %}

                    <div class="form-check ">
                      {{ field }}
                      <label class="form-check-label" for="flexCheckDefault">{{ field.label }}</label>
                    </div>

                    {% else %}




                    <div class="form-floating">
                      {{ field }}
                      <label for="floating{{ field.label }}">{{ field.label }}</label>
                    </div>
                    {% endif %}

                    <!-- <p  class="form-label">{{ field.label }}</p>

                    {{ field }} -->

                    <div class=" text-start">
                      <div id="" class="form-text ps-2">{{ field.help_text }}</div>
                    </div>



                    {% for error in field.errors %}
                    <div class="text-danger">
                      <strong>*{{ error|escape }}</strong>
                    </div>
                    {% endfor %}
                  </div>


                  {% endfor %}


                  {% for error in form.non_field_errors %}
                  <div class="">
                    <strong>*{{ error|escape }}</strong>
                  </div>
                  {% endfor %}


                </div>

   		<button class="btn btn-primary mt-5" type="submit">Save</button>
		</form>

    </div>
</div>

{% endblock %}
