{% extends 'chemapp/base.html' %}
{% load static %}

{% block js_block %}
<script src="{% static 'js/jquery.formset.js' %}"></script>
<script src="{% static 'js/chemapp-addRemoveAssessmentForm.js' %}"></script>
{% endblock %}

{% block title_block %}
Add Assessments
{% endblock %}

{% block body_block %}
<div class="container mt-5 mb-5 ">
  <h2> Add Assessments </h2>

  <form id="add_assessment_form" method="post" action="{% url 'chemapp:add_assessments' course_name_slug=course_name_slug %}" enctype="multipart/form-data">
    {% csrf_token %}

    {{ assessment_formset.management_form }}
    {% for assessment_form in assessment_formset %}
    <div class="assessment-formset row">
      {% for field in assessment_form %}
      <div class="col ">
        <div class="form-floating">
          {{ field }}
          <label for="floating{{ field.label }}">{{ field.label }}</label>
        </div>
        <div class=" text-start">
          <div id="" class="form-text ps-2">{{ field.help_text }}</div>
        </div>
        {% for error in field.errors %}
        <div class="text-danger">
          <strong>*{{ error|escape }}</strong>
        </div>
        {% endfor %}
        <br>
      </div>
      {% endfor %}
    </div>
    {% endfor %}
    <br>
    <button type="submit">Save</button>
  </form>
</div>

  {% endblock %}
