{% extends 'chemapp/base.html' %}
{% load static %}

{% block js_block %}
<link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/css/select2.min.css" rel="stylesheet" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.0/js/select2.min.js"></script>
{% endblock %}

{% block title_block %}
Add Course Lecturers
{% endblock %}

{% block body_block %}
<div class="container mb-5 ">
  <h2> Add Course Lecturers</h2>

  <form id="course_lecturer_form" method="post" action="{% url 'chemapp:add_lecturers' course_name_slug=course_name_slug %}" enctype="multipart/form-data">

    {% csrf_token %}
    <select class="js-example-basic-multiple" multiple="multiple" name="lecturers_list" style="width:300px">
          {% for lecturer in lecturers %}
          <option value={{lecturer.staffID}}> {{lecturer.title}} {{lecturer.firstName}} {{ lecturer.lastName }}</option>
          {% endfor %}
    </select>
    <br>
    <button class="btn btn-primary mt-5" type="submit">Save</button>
    <script>
    $(document).ready(function() {
$('.js-example-basic-multiple').select2({ placeholder: "Select lecturers", maximumSelectionSize: 100  });
});
    </script>
  </form>
</div>

{% endblock %}
