<!DOCTYPE html>

{% load staticfiles %}


<html lang="en">
    <head>
        <!-- Required meta tags-->
        <meta charset="UTF-8">
        <!-- Bootstrap CSS -->
        <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
        <title>

            Chemapp -
            <!-- page title goes here -->
            {% block title_block %}
            {% endblock %}

        </title>
    </head>


    <nav class="navbar navbar-expand-lg navbar-dark text-white bg-logo">
      <div class="container-fluid text-white">
        <a class="navbar-brand" href="#">
          <img src="{% static 'images/just_logo.PNG' %}" alt="UofG logo" height="75" class="me-3" >

          School of Chemistry
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item">
              <a class="nav-link active" aria-current="page" href="{% url 'chemapp:home' %}">Home</a>
            </li>
            {% if user.is_authenticated %}
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chemapp:courses' %}">Courses</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chemapp:about' %}">About</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'chemapp:logout' %}">Logout</a>
              </li>


            </ul>
            <span class=" me-2">
              Welcome, {{request.user.username}}
            </span>
            {% else %}
             <li class="nav-item">
               <a class="nav-link" href="{% url 'chemapp:login' %}">Login</a>
             </li>
           </ul>
            {% endif %}
        </div>
      </div>
    </nav>





    <body>

      <!-- page content goes here -->
      {% block body_block %}
      {% endblock %}

    </body>




    <footer>

      <!-- footer goes here-->
      {% block footer_block %}
      {% endblock %}

      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>
    </footer>

</html>
