<!DOCTYPE html>
{% include 'chemapp/message.html' %}
{% load static %}

<html lang="en">
<head>
  <!-- Required meta tags-->
  <meta charset="UTF-8">
  <link rel="shortcut icon" type="image/x-icon" href="{% static 'images/favicon.ico' %}">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet"  type="text/css" href="{% static 'css/style.css' %}">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.3.0/font/bootstrap-icons.css">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">

  {% block links %}
  {% endblock %}

  <!-- jQuery and jQuery UI -->
  <link rel="stylesheet" href="{% static 'js/jquery-ui/jquery-ui.min.css' %}" type="text/css" />
  <script src = "{% static 'js/jquery-3.4.1.min.js' %}"></script>
  <script src="{% static 'js/jquery-ui/jquery-ui.min.js' %}"></script>
  <script src="{% static 'js/jquery.mask.js' %}"></script>

  {% block js_block %}
  {% endblock %}

  <title>
    Chemapp -
    {% block title_block %}
    {% endblock %}

  </title>
</head>

<div  id="topheader">
  <nav class="navbar  navbar-expand-lg navbar-dark text-white bg-logo mb-5 ">
    <div class="container-fluid text-white">
      <a class="navbar-brand" href="#">
        <a href="{% url 'chemapp:home' %}">
          <img src="{% static 'images/just_logo.png' %}" alt="UofG logo" height="75" class="me-3" >
        </a>
        School of Chemistry
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          {% if user.is_authenticated %}
          <li class="nav-item ">
            <a class="nav-link  "  href="{% url 'chemapp:home' %}">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link " href="{% url 'chemapp:degrees' %}">Degrees</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chemapp:courses' %}">Courses</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chemapp:students' %}">Students</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chemapp:staff' %}">Staff</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'chemapp:about' %}">About</a>
          </li>
        </ul>


        <form class="d-flex">
          <a class="btn text-white pe-none" type="submit">Welcome, {{request.user.username}}</a>
        </form>
        <form class="d-flex " action="{% url 'chemapp:search_site' %}" method="GET" value="{{request.GET.q}}">
          <input class="form-control me-2" type="Search" name="q" value="{{request.GET.q}}" placeholder="Search"/>
          <input class="btn btn-outline-light me-2"type="submit" name="submit" value="Search"/>
        </form>
        <form class="d-flex">
          <a type="button" class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal"><i class="bi bi-box-arrow-right"></i> Logout</a>
          <a type="button" class="btn text-white " data-bs-toggle="modal" data-bs-target="#HelpModal"><i class="bi bi-info-circle"></i> </a>
        </form>

        <!-- Modal -->
        <div class="modal fade" id="logoutModal" tabindex="-1" aria-labelledby="logoutModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark" id="logoutModalLabel">Are you sure?</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Stay logged in</button>
                <a class="btn btn-danger" href="{% url 'chemapp:logout' %}">Logout</a>
              </div>
            </div>
          </div>
        </div>



        <div class="modal fade" id="HelpModal" tabindex="-1" aria-labelledby="HelpModalLabel" aria-hidden="true">
          <div class="modal-dialog modal-lg">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title text-dark" id="HelpLabel">Welcome to my self proclaimed fabulous tutorial!</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>

              <div class="modal-body text-dark">
                <p>
                  Welcome to a small tutorial on how to utilize all the features our site has to offer. I will try and cover all aspects of the
                  site but if you have any questions feel free to @fraser on teams with any questions!
                </p>
                <p>
                  <b>Permissions:</b><br/>
                  Admin accounts are the only acocunts that can edit permissions, they can do this by logging in as admin and following the link on navbar "Admin Page" and entering the users view,
                  selecting a user and scrolling down to permissions and moving whichever permissions you would like them have over.<br/><br/>
                </p>
                <p>
                  <b>There are 4 main permissions for each Model:</b>
                  <p class="ms-3 "><i>add , change , delete , view</i><br><br>
                  These permissions are site wide, for instance if a user has permission to delete degree, they can delete any degree, so these 4 base permissions should be kept to admin accounts only.</p>
                <p>
                  <br/><b>Courses are the only model with unique permissions:</b>
                  <p class="ms-3 "><i>edit "CODE-DEGREE" , upload "CODE-DEGREE"</i><br><br>
                  If you search the course code in the permissions section you can find these permissions to edit and upload grades.</p><br>
                </p>
                <p>
                  <b>Data Flow</b><br/>
                    <p class="ms-5"><b>Step 1:</b> Add a Degree, either manually or via CSV upload. There is a template for you to copy paste on the upload page.</p>
                    <p class="ms-5"><b>Step 2:</b> Add Course</p>
                    <p class="ms-5"><b>Step 3:</b> Add Assessments to courses</p>
                    <p class="ms-5"><b>Step 4:</b> Add questions to assessments</p>
                    <p class="ms-5"><b>Step 5:</b> Add students to course, you can either upload a list of students on the course page, or manually add a student 1 by 1 on the students page if they do not have any courses yet.</p>
                    <p class="ms-5"><b>Step 4:</b> The Last step is to upload grades for each question using the upload button on the exam section on the course page</p>
                    <p>Most of these uploads can be done manually or via CSV upload. There is a template for you to copy paste on the upload page.</p>
                </p>
              </div>


              <div class="modal-footer">
                <button type="button" class="btn btn-success" data-bs-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>





        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'chemapp:login' %}">Login</a>
        </li>
      </ul>
      {% endif %}
    </div>
  </div>
</nav>
</div>





<body>
  <div class="mb-2">&nbsp;</div>






<!-- page content goes here -->
{% block body_block %}
{% endblock %}


<footer>

  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

  <script>
  var path = window.location.href; // Just grabbing a handy reference to it
  $('ul a').each(function() {
    if (this.href === path) {
      $(this).addClass('active');
    }
  });
  </script>


  {% if messages %}
  <script>
      {% for message in messages %}
          $(document).ready(function () {
              $('.toast').toast('show');
          });
      {% endfor %}
  </script>
{% endif %}







  <!-- <script>
  $(".alert-dismissible").fadeTo(2000, 0, function(){
    $(".alert-dismissible").alert("close");
  });
  </script> -->

  <!-- footer goes here-->
  {% block footer_block %}
  {% endblock %}

</footer>





</body>

</html>
