{% extends 'chemapp/base.html' %}
{% load render_table from django_tables2 %}


{% block title_block %}
Students
{% endblock %}



{% block body_block %}



<div class="container ">
  <h2>{{course_code}} - Students</h2>
  {% if students %}
  <table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Student ID</th>
        <th scope="col">First Name</th>
        <th scope="col">Last Name</th>
        <th scope="col" class="text-end">Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for student in students %}
      <tr>
        <th scope="row">{{ student.studentID }}</th>
        <td>{{student.firstName}}</td>
        <td>{{student.lastName}}</td>
        <td>
          <div class="d-grid gap-2 d-md-flex justify-content-md-end">
            <a class="btn btn-info"href="{% url 'chemapp:student' student_id=student.studentID %}">View</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
  {% else %}
  <h4>There are no Students for this course</h4>
  {% endif %}

  <div class=" mb-3 mt-3 d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-primary " href="{% url 'chemapp:upload_student_csv' course_name_slug=course_name_slug %}"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload CSV File to add students to this course</a>
  </div>
</div>
{% endblock %}
