{% extends 'chemapp/base.html' %}
{% load static %}

{% block js_block %}
<script src="{% static 'js/chemapp-filterCoursesEditStudentPage.js' %}"></script>
<script src="{% static 'js/chemapp-selectCoursesOverride.js' %}"></script>
{% endblock %}

{% block title_block %}
Edit Student
{% endblock %}

{% block body_block %}
<div class="container mb-5 ">
  <h2> Edit Student "{{ student.firstName }} {{ student.lastName }}" </h2>

  <form id="edit_student_form" method="post" filter_courses_url = "{% url 'chemapp:ajax_filter_courses' %}" action="{% url 'chemapp:edit_student' student_id=student_id %}"  enctype="multipart/form-data">

    {% csrf_token %}

    {{ edit_student_form.as_p }}

    <button type="submit" class="btn btn-primary mt-5">Save</button>
  </form>
</div>

{% endblock %}
