{% extends 'chemapp/base.html' %}
{% load static %}

{% block title_block %}
Edit Student
{% endblock %}

{% block body_block %}
<div class="container mt-5 mb-5 ">
    <h2> Edit Student "{{ student.firstName }} {{ student.lastName }}" </h2>

    <form id="edit_student_form" method="post" action="{% url 'chemapp:edit_student' student_id=student_id %}"  enctype="multipart/form-data">

        {% csrf_token %}

        {{ edit_student_form.as_p }}

        <button type="submit" class="btn btn-primary mt-5">Save</button>
    </form>
</div>

{% endblock %}
