{% extends 'chemapp/base.html' %}

{% block title_block %}
    Staff Member
{% endblock %}

{% block body_block %}
<div class="container ">
<div>
    <!-- Staff Section -->
    <h2> {{ staff.title }} {{ staff.firstName }} {{ staff.lastName }} </h2>
    <p> Staff ID: {{ staff.staffID }} </p>
    {% if staff.comments %}
        <p> Comments: {{ staff.comments }} </p>
    {% else %}
      <p> No Comments yet</p>
    {% endif %}

</div>
<div>
    <!-- Course Section -->
    <h2> Associated Courses </h2>
    {% for course in courses %}
    <p> Course Code: {{ course.code }} </p>
    <p> Course Name: {{ course.name }} </p>
    {% endfor %}
</div>
<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    <a class="btn btn-danger mt-3" href="{% url 'chemapp:edit_staff' staffID=staffID %}"><i class="pe-1 bi bi-file-earmark-arrow-up"></i>Edit Staff Details</a>
</div>
</div>
{% endblock %}
