{% extends 'chemapp/base.html' %}

{% block title_block %}
    Student 
{% endblock %}

{% block body_block %}

{% load render_table from django_tables2 %}
{% load static %}
<html>
<div>
    <h2>Student Page!</h2>
  	<body>
        {% render_table Students %}
    </body>
    <div>
    <a href="{% url 'chemapp:add_student' %}"><button>Add a student manually</button></a>
	</div>
	
	<div>
    <a href="{% url 'chemapp:upload_student_csv' %}"><button>Upload a csv file</button></a>
	</div>

</div>
</html>
{% endblock %}