{% extends 'chemapp/base.html' %}

{% block title_block %}
    Students
{% endblock %}

{% block body_block %}

{% load render_table from django_tables2 %}
{% load static %}
<div class="container mt-5 ">
<div>
    <h2>Students</h2>
  	<body>
        {% render_table students %}
    </body>
    <br>
    <div>
        <a href="{% url 'chemapp:add_student' %}"><button>Add a student manually</button></a>
	</div>
    <br>
	<div>
        <a href="{% url 'chemapp:upload_student_csv' %}"><button>Upload a csv file</button></a>
	</div>
    
    <!-- Test. Just to access individual student pages -->
    <br>
    <div>
        {% for student in students %}
             <a href="{{ student.studentID }}"><button>{{ student.firstName }}</button></a>
             <br>
        {% endfor %}
    </div>

</div>
</div>
{% endblock %}
