{% extends 'chemapp/base.html' %}

{% block title_block %}
    Student
{% endblock %}

{% block body_block %}
<div class="container mt-5 ">
<div>
    <!-- Student Section -->
    <h2> {{ student.firstName }} {{ student.lastName }} </h2>
    <p> Academic ID: {{ student.studentID }} </p>
    <p> Anonymous ID: {{ student.anonID }} </p>
    <p> Academic Plan/Degree: {{ student.academicPlan }} </p>
    <p> Level: {{ student.level }} </p>
    <p> Graduation Date: {{ student.graduationDate }} </p>
    <p> Status: {{ student.status }} </p>
    <p> Comments: {{ student.comments }} </p>
    
    <h2> Courses and Assessments </h2>
    {% for course,nestedDict in courses.items %}
        
        <!-- Course Section -->
        <h4> Course: {{ course.name }} </h4>
        <!-- Course Grade Section -->
        {% if nestedDict.gradeObject is None %}
            <p> Course Grade has not been calculated yet </p>
        {% else %}
            <p> Grade (Out of 22): {{ nestedDict.gradeObject.grade }} </p>
            <p> Band : {{ nestedDict.gradeObject.band }}</p>
            <!-- Check if Student passed course -->
            {% if nestedDict.gradeObject.grade < course.minimumPassGrade22Scale %}
                <p> <b> Student needs to resit course </b> </p>
            {% else %}
                <p> <b> Student passed course </b> </p>
            {% endif %}
        {% endif %}
        {% for assessmentDict in nestedDict.assessmentList %}
            <!-- Assessment Section -->
            {% for assessment,nestedDict in assessmentDict.items %}
                <h4> Assessment: {{ assessment.assessmentName }} </h4>
                <p> Weight: {{ assessment.weight }} </p>
                <p> Total Marks: {{ assessment.totalMarks }} </p>
                <p> Number of Components Needed: {{ assessment.componentNumberNeeded }} </p>
                <p> Due Date and Time: {{ assessment.dueDate }} </p>
                
                <!-- Assessment Grade Section -->
                {% if nestedDict.gradeObject is None %}
                    <p> Assessment Grade has not been calculated yet </p>
                {% else %}
                    <p> Date and Time of Submission: {{ nestedDict.gradeObject.submissionDate }} </p>
                    <p> <b> NDP: {{ nestedDict.gradeObject.noDetriment }} </b> </p>
                    <p> <b> Good Cause: {{ nestedDict.gradeObject.goodCause }} </b> </p>
                    <p> <b> Late: {{ nestedDict.gradeObject.late }} </b> </p>
                    <p> <b> Component Numbers Match: {{ nestedDict.gradeObject.componentNumberMatch }} </b> </p>
                    <p> Marked Grade (Out of {{ assessment.totalMarks }}) : {{ nestedDict.gradeObject.markedGrade }} </p>
                    {% if nestedDict.gradeObject.finalGrade is not None %}
                        <p> Final Grade (Out of {{ assessment.totalMarks }}): {{ nestedDict.gradeObject.finalGrade }} </p>
                        <p> Final Grade (Out of 22): {{ nestedDict.gradeObject.finalGrade22Scale }} </p>
                        <p> Band : {{ nestedDict.gradeObject.band }}</p>
                    {% endif %}

                    {% if nestedDict.gradeObject.finalGrade is None %}
                        <!-- Add Final Grade Button -->
                        <a class="btn btn-danger mt-3" href="{% url 'chemapp:add_final_grade' student_id=student_id course_name_slug=course.slug assessment_name_slug=assessment.slug %}">Add final assessment grade</a>
                        <br><br>
                    {% else %}
                    <!-- Show Edit Final Grade Button -->
                    {% endif %}
                    
                {% endif %}
                <!-- Assesment Component Section -->
                {% for componentDict in nestedDict.componentList %}
                    {% for component,grade in componentDict.items %}
                        <h4> Component: {{ component.description }} </h4>
                        <p> Status: {{ component.status }} </p>
                        <p> Marks: {{ component.marks }} </p>
                        {% if grade is None %}
                            <p> Grade: Not added yet </p>
                        {% else %}
                            <p> Grade: {{ grade }} </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}

                {% if nestedDict.gradeObject is None %}
                    <!-- Add Grades Button -->
                    <a class="btn btn-danger mt-3" href="{% url 'chemapp:add_grades' student_id=student_id course_name_slug=course.slug assessment_name_slug=assessment.slug %}">Add grades</a>
                    <br><br>
                {% else %}
                    <!-- Edit Grades Button -->
                    <a class="btn btn-danger mt-3" href="{% url 'chemapp:edit_grades' student_id=student_id course_name_slug=course.slug assessment_name_slug=assessment.slug %}">Edit grades</a>
                    <!-- Delete Grades Button -->
                    <form id="grades_delete_form" method="post" action="{% url 'chemapp:delete_grades' student_id=student_id course_name_slug=course.slug assessment_name_slug=assessment.slug %}">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-primary mt-5">Delete Grades</button>
                    </form>
                {% endif %}
                
            {% endfor %}
        {% endfor %}
    {% endfor %}

    <!-- Edit Student Button -->
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-danger mt-3" href="{% url 'chemapp:edit_student' student_id=student_id %}"><i class="pe-1 bi bi-file-earmark-arrow-up"></i>Edit Student</a>
    </div>
    <!-- Delete Student Button -->
    <form id="student_delete_form" method="post" action="{% url 'chemapp:delete_student' student_id=student_id %}">
        {% csrf_token %}
        <button type="submit" class="btn btn-primary mt-5">Delete Student</button>
    </form>

</div>
</div>
{% endblock %}
