{% extends 'chemapp/base.html' %}

{% block title_block %}
    Students
{% endblock %}

{% block body_block %}

{% load render_table from django_tables2 %}
{% load static %}


<head>
 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>
<div class="container ">
<div>
    <h2>Students</h2>
 
        <!----render_table students----> 

    

<!----the levels----> 	

<div id="accordion">

  <div class="card">
    <div class="card-header">
      <a class="card-link" data-toggle="collapse" href="#collapseL1">
        Level 1 Students
      </a>
    </div>
    <div id="collapseL1" class="collapse show" data-parent="#accordion">
      <div class="card-body">
        {% for student in students %}
      	{% if student.level == '1' %}
      	<p>
             <a href="{{ student.studentID }}"><button>{{ student.firstName }}</button></a>
             <br>
        </p>
    	{% endif %}
    	{% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseL2">
        Level 2 Students
      </a>
    </div>
    <div id="collapseL2" class="collapse" data-parent="#accordion">
      <div class="card-body">
        {% for student in students %}
      	{% if student.level == '2' %}
      	<p>
             <a href="{{ student.studentID }}"><button>{{ student.firstName }}</button></a>
             <br>
        </p>
    	{% endif %}
    	{% endfor %}
      </div>
    </div>
  </div>

  <div class="card">
    <div class="card-header">
      <a class="collapsed card-link" data-toggle="collapse" href="#collapseL3">
        Level 3 Students
      </a>
    </div>
    <div id="collapseL3" class="collapse" data-parent="#accordion">
      <div class="card-body">
        {% for student in students %}
      	{% if student.level == '3' %}
      	<p>
             <a href="{{ student.studentID }}"><button>{{ student.firstName }}</button></a>
             <br>
        </p>
    	{% endif %}
    	{% endfor %}
      </div>
    </div>
  </div>
  
  <!----the buttons----> 

   <div class="d-grid gap-2 d-md-flex justify-content-md-start">
    	<a class="btn btn-danger mt-3" href="{% url 'chemapp:add_student' %}">Add a Student Manually</a>
  	</div>
  	<div class="d-grid gap-2 d-md-flex justify-content-md-start">
    	<a class="btn btn-danger mt-3" href="{% url 'chemapp:upload_student_csv' %}">Upload CSV File</a>
  	</div>
	<br>
	
	

</div>
{% endblock %}
