{% extends 'chemapp/base.html' %}

{% block title_block %}
    Student
{% endblock %}

{% block body_block %}
<div class="container mt-5 ">
<div>
    <h2> {{ student.firstName }} {{ student.lastName }} </h2>
    <p> Academic ID: {{ student.studentID }} </p>
    <p> Anonymous ID: {{ student.anonID }} </p>
    <p> Academic Plan/Degree: {{ student.academicPlan }} </p>
    <p> Level: {{ student.level }} </p>
    <p> Graduation Date: {{ student.graduationDate }} </p>
    <p> Status: {{ student.status }} </p>
    <p> Comments: {{ student.comments }} </p>
    
    <h2> Courses and Assessments </h2>
    {% for course,assessmentsList in courses.items %}
        <h4> Course: {{ course.name }} </h4>
        {% for assessmentDict in assessmentsList %}
            {% for assessment,componentsList in assessmentDict.items %}
                <h4> Assessment: {{ assessment.assessmentName }} </h4>
                <p> Weight: {{ assessment.weight }} </p>
                <p> Total Marks: {{ assessment.totalMarks }} </p>
                <p> Number of Components Needed: {{ assessment.componentNumberNeeded }} </p>
                <p> Due Date and Time: {{ assessment.dueDate }} </p>
                {% for componentDict in componentsList %}
                    {% for component,grade in componentDict.items %}
                        <h4> Component: {{ component.description }} </h4>
                        <p> Status: {{ component.status }} </p>
                        <p> Marks: {{ component.marks }} </p>
                        {% if grade is None %}
                            <p> Grade: Not added yet </p>
                        {% else %}
                            <p> Grade: {{ grade }} </p>
                        {% endif %}
                    {% endfor %}
                {% endfor %}
                <a class="btn btn-danger mt-3" href="{% url 'chemapp:add_grades' student_id=student_id course_name_slug=course.slug assessment_name_slug=assessment.slug %}">Add grades</a>
                <br><br>
            {% endfor %}
        {% endfor %}
        <a class="btn btn-danger mt-3" href="">Calculate course grade</a>
    {% endfor %}
</div>
</div>
{% endblock %}
