{% extends 'chemapp/base.html' %}

{% block title_block %}
    Courses Upload
{% endblock %}

{% block body_block %}

<div class="container">
  <h2> Upload csv files to add Courses</h2>
  <p>Format for Course CSV - the heading of the columns are required</p>
  <div class="alert alert-secondary" role="alert">
    Code,degree,creditsWorth,name,shorthand,level,academic y,sem,min pass,minreq,desc,comments<br>
    CHEM1002,F100-2208,60,CHEMISTRY,CHEM,1,19-20,1,B3,0.75,HI,COMMENT
  </div>
    <form class="mt-5"action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" id="file1" name="file"><br/>
      <button class="btn btn-primary mt-4"type="submit"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload</button>
    </form>
</div>


{% endblock %}
