{% extends 'chemapp/base.html' %}

{% block title_block %}
    Assessment Upload
{% endblock %}

{% block body_block %}


<div class="container">
  <h2> Upload csv files to add Assessments</h2>
  <p>Format for Assessments CSV - the heading of the columns are required</p>
  <div class="alert alert-secondary" role="alert">
    Name,Total,Weight,Due_Date_and_Time,Number_of_Components<br>
    Exam,20,0.25,09/09/2022 23:09,4<br>
    Exam1,15,0.25,09/09/2022 23:09,4<br>
    Exam2,15,0.25,09/09/2022 23:09,4<br>
    Exam3,15,0.25,09/09/2022 23:09,4<br>
    <br>
    *We expect you to provide correctly formatted files
  </div>
    <form class="mt-5" action="{% url 'chemapp:upload_assessment_csv' course_name_slug=course_name_slug %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" id="file1" name="file" required><br/>
      <button class="btn btn-primary mt-4"type="submit"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload</button>
    </form>
</div>

{% endblock %}
