{% extends 'chemapp/base.html' %}

{% block title_block %}
    Courses Upload
{% endblock %}

{% block body_block %}

<div class="container">
  <h2> Upload csv files to add Courses</h2>
  <p>Format for Course CSV - the heading of the columns are required</p>
  <div class="alert alert-secondary" role="alert">
    Code,Degree,Credits_Worth,Name,Shorthand,Level,Academic_Year,Semester,Minimum_Pass_Grade,Requirement_For_Credit,Description,Comments<br>
    CHEM1001,F100-2208,50,CHEMISTRY,CHEM,1,2020,19-20,1,B3,0.75,HI,COMMENT<br>
    CHEM1002,FG11-2208,60,CHEMISTRY,CHEM,1,2020,19-20,1,B3,0.75,HI,COMMENT<br>
    <br>
    Level Instructions: <br>
    1 : Level 1 <br>
    2 : Level 2 <br>
    3 : Honours <br>
    4 : Postgraduate <br>
    <br>
    *We expect you to provide correctly formatted files
  </div>
    <form class="mt-5" action="{% url 'chemapp:upload_course_csv' %}" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" id="file1" name="file"><br/>
      <button class="btn btn-primary mt-4"type="submit"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload</button>
    </form>
</div>


{% endblock %}
