{% extends 'chemapp/base.html' %}

{% block title_block %}
Degrees Upload
{% endblock %}

{% block body_block %}

<div class="container">
  <h2> Upload CSV files to add Degrees</h2>
    {{order}}
    <form class="mt-5"action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" id="file1" name="file"><br/>
      <button class="btn btn-primary mt-4"type="submit"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload</button>
    </form>
</div>

{% endblock %}
