{% extends 'chemapp/base.html' %}

{% block title_block %}
Grades Upload
{% endblock %}

{% block body_block %}

<div class="container">
  <h2> Upload CSV files to add Grades</h2>
  <p>Format for Grades CSV - the heading of the columns are required</p>
  <div class="alert alert-secondary" role="alert">
    StudentID,Grade<br>
    3159976,20<br>
    2790987,15<br>
    2110101,14<br>
    3428888,11<br>
    4512345,10<br>
    <br>
    *We expect you to provide correctly formatted files
  </div>
    <form class="mt-5"action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      <input  type="file" id="file1" name="file" required><br/>
      <button class="btn btn-primary mt-4"type="submit"><i class="pe-1 bi bi-file-earmark-arrow-up"></i> Upload</button>
    </form>
</div>

{% endblock %}
